---

---

<nav class="aboutMe_navbar">
    <a href="#">About Me</a>
    <a href="#">Linkeding</a>
    <a href="#">GitHub</a>
</nav>

<style>

    .aboutMe_navbar a {
        font-family: var(--content-montserrat);
        text-decoration: none;
        color: var(--dark-color);
        margin: 0 10px;
    }

    .aboutMe_navbar a:hover {
        color: var(--resaltColor);
    }

</style>